.DS_Store
__pycache__/
*.py[cod]
node_modules/
/dist/
.venv-tools/
.env
.env.local
.env.*.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
vite.config.js.timestamp-*.mjs
/test/unit/coverage/

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
