{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "UseDevelopmentStorage=true",
    "FUNCTIONS_WORKER_RUNTIME": "node",
    "TURNSTILE_SECRET_KEY": "",
    "TURNSTILE_HOSTNAMES": "outpost13.app",
    "CONTACT_TABLE_NAME": "ContactInquiries"
  }
}
